<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
  	
  	<!-- Set SQL dialect to use -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    
    <!-- Print executed SQL statements to stdout -->
    <property name="show_sql">true</property> 
    
    <!-- Update the DB schema on restart of session -->
    <property name="hbm2ddl.auto">update</property>
    
    <!-- Define which classes we want Hibernate to manage -->
    <mapping class="com.hicollege.webapp.dtos.User"/>
    <mapping class="com.hicollege.webapp.dtos.Album"/>
  </session-factory>
</hibernate-configuration>